@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-body">
    <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
            <h1 class="title">
                Encontre os melhores profissionais da saúde do Brasil
            </h1>
            <h2 class="subtitle">
                Busque por profissionais da saúde
            </h2>
            <div class="box">

                <div class="field is-grouped">
                    <p class="control is-expanded">
                        <input class="input" type="text" placeholder="Pesquise por Nome, Especialidade, Cidade ou Estado...">
                    </p>
                    <p class="control">
                        <a class="button is-doutor-agenda" href="#">
                            <span class="icon">
                                <i class="fa fa-search"></i>
                            </span>
                            <span>Pesquisar</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>