html, body {
    font-family: 'Source Sans Pro', sans-serif;
}

.hero.is-info {
    /*background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://unsplash.it/1200/900?random') no-repeat center center fixed;*/
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/rami-al-zayat-170349-1200x800.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.hero .subtitle {
    padding: 3rem 0;
    line-height: 1.5;
}

.navbar {
    height: 122px;
}

.fusion-logo {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
}

.is-doutor-agenda {
    color: #ffffff;
    background-color: #3bafbf;
}